<div class="">
  <h1 *ngIf="isLoading">Loading...</h1>

<div class="tw-m-24-px" *ngIf="fetchComplete">
  <h5>Searched books:</h5>
  <!-- <div class="tw-mb-24-px tw-text-24-px"> Top {{ booksList.length }} book{{ booksList.length > 1 ? "s" : "" }} on {{ subjectName }}</div> -->

  

  <div class="searched-content">
    <table class="table-view">
      <thead>
        <tr class="table-row">
          <th class="header">Title and Sub Title</th>
          <th class="header">Author</th>
          <th class="header">First Publish Year</th>
        </tr>
      </thead>
      <div *ngIf="noResult"><h2>No result found</h2></div>

      <tbody class="table-body">
        <tr *ngFor="let book of allBooks" class="row-data">
          <td >
            <a  href="https://openlibrary.org{{ book.key }}" target="_blank">{{ book.title }}</a>
          </td>
          <td>
            {{ book.authors.length > 0 ? book.authors[0].name : "Unknown" }}
          </td>
          <td>{{ book.first_publish_year }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-btns">
    
    <span class="left-border" (click)="prevPage()"><fa-icon [icon]="faArrowLeft" size="lg"></fa-icon></span>
    <!-- <p *ngFor="let pageNo of paginationArr" class="pagination-btn" [attr.id]="pageNo" (click)="paginatedPage(pageNo)"  [ngClass]="{'pagination-btn': true, 'active': i + 1 === page}">{{pageNo}}</p> -->
    <span *ngFor="let pageNo of paginationArr; let i = index" [ngClass]="{'pagination-btn': true, 'active': i + 1 === page}"
      (click)="paginatedPage(i + 1)">
      {{i + 1}}
    </span>
    <span (click)="nextPage()"><fa-icon [icon]="faArrowRight" size="lg"></fa-icon></span>
  </div>
</div>
</div>